.content-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border: 1px solid #918e91;
}

.chat-wrapper h3 {
    background-color: #669674;
    height: 10%;
    color: aliceblue;

}

.chat-view-wrapper {
    height: 70%;
    background-color: rgba(217, 207, 195, 0.2);
    display: flex;
    flex-direction: row;
}

.member-list{
    border-bottom:     2px solid #5c5c5e;
    border-left:    2px solid #5c5c5e;
    border-top:    2px solid #5c5c5e;
    height: 100%;
    width: 30%;
}

.messages-wrapper{
    border:     2px solid #5c5c5e;
    height: 100%;
    width: 70%;
}

.message-input-wrapper {
    height: 20%;
    background-color: #eb7267;

}

.message-input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.message-input-wrapper input{
    width: 80%;
    padding: 10px;
    height: 50px;

}

.message-input-wrapper button{
    margin-left: -100px;
    width: 100px;
    height: 50px;

}

.messages-wrapper, .member-list{
    overflow: scroll;
}
li{
    list-style: none;
}

{
    border: 3px solid #5c5c5e;
    border-radius: 15px;
    margin: 15px 5px;
}

#messages-container >li, #chatmates-list >li{
    border: 1px solid #5c5c5e;
    border-radius: 15px;
    margin: 15px 5px;
    padding: 10px 5px;
}

.left-side{
    text-align: left;
}
.right-side{
    text-align: right;
}

.private-message {
    background-color: #918e91;
}


.just-connected, .just-disconnected, .connected, .disconnected{
    display: block;
    margin: 5px;
    padding: 10px 5px;
}

.just-connected{
    background-color: rgba(114, 149,171,0.7);
}
.just-disconnected{
    background-color: rgba(196, 73,57,0.7);
}
.connected{
    background-color: rgba(102, 150,116,0.7);
}
.disconnected{
    background-color: rgba(92, 92,94,0.7);

}

#chatmates-list>li div{
    margin: 0 5px;
    padding: 0 5px;
}