<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="style/main.css" rel="stylesheet">
    <link href="style/chat.css" rel="stylesheet">
    <link href="style/popup.css" rel="stylesheet">
</head>
<body>
<div id="pop-up">
    <div class="authorization-wrapper">
        <h3>Enter to the chat</h3>
        <div class="autho-fields">
            <label for="username">User Name</label>
            <input type="text" id="username-field">
            <label for="nickname">User Nickname</label>
            <input type="text" id="nickname-field">
        </div>
        <div class="button-wrapper">
            <button id="nickname-submit">OK</button>
        </div>
    </div>
</div>
<div class="content-wrapper">
    <div class="chat-wrapper">
        <h3>Chat</h3>
        <div class="chat-view-wrapper">
            <div class="member-list">
                <ul id="chatmates-list"></ul>
            </div>
            <div class="messages-wrapper">
                <ul id="messages-container"></ul>
            </div>
        </div>
        <div class="message-input-wrapper">
            <input id="message-input-field" type="text" placeholder="Message...">
            <button id="message-input-button">Send</button>
        </div>
    </div>
</div>
</body>
<script src="http://localhost:8080/socket.io/socket.io.js"></script>
<script src="./script/script.js" rel="script"></script>
</html>